/*
 * This file has been engineered to be compatible with both older mandoc and
 * newer mandoc.
 * Also added some webfonts.
 *
 * mandoc 1.14.1 changed the class named for emph/symb/lit/spacer to
 * Em/Sy/Li/Pp.
 * The classes here account for that and are duplicated as necessary.
 *
 * The formatting was taken from mandoc.css @ 1.14.3. Changes:
 * - Liberation Sans was added to the font-family in body.
 * - added to body:
 *   margin: 1em auto; max-width: 40em; padding: 0 .62em; font-size: 1.1em;
 *   line-height: 1.4;
 * - Removed .Sh and .Ss from h1 (not present in older mandoc)
 * - Removed html styling breaking centering in body. It was:
 *   html {     max-width: 100ex; }
 *
 * Much of the markup that got moved to CSS (e.g. .Ft) was pure HTML in older
 * versions (<i class="ftype">) so that few adjustments are necessary.
 *
 * Licensing terms of mandoc, which includes mandoc.css, follow:
 * ----------------------------------------------------------------------------
 * Written by ingo Schwarze <schwarze@openbsd.org>.
 * I place this file into the public domain.
 * Permission to use, copy, modify, and distribute it for any purpose
 * with or without fee is hereby granted, without any conditions.
 * ----------------------------------------------------------------------------
 */
@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerifPro-Regular.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerifPro-Regular.otf.woff') format('woff'),
         url('OTF/SourceSerifPro-Regular.otf') format('opentype'),
         url('TTF/SourceSerifPro-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerifPro-It.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerifPro-It.otf.woff') format('woff'),
         url('OTF/SourceSerifPro-It.otf') format('opentype'),
         url('TTF/SourceSerifPro-It.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerifPro-Bold.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerifPro-Bold.otf.woff') format('woff'),
         url('OTF/SourceSerifPro-Bold.otf') format('opentype'),
         url('TTF/SourceSerifPro-Bold.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerifPro-BoldIt.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerifPro-BoldIt.otf.woff') format('woff'),
         url('OTF/SourceSerifPro-BoldIt.otf') format('opentype'),
         url('TTF/SourceSerifPro-BoldIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('EOT/SourceCodePro-Regular.eot') format('embedded-opentype'),
         url('WOFF2/TTF/SourceCodePro-Regular.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceCodePro-Regular.otf.woff') format('woff'),
         url('OTF/SourceCodePro-Regular.otf') format('opentype'),
         url('TTF/SourceCodePro-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('EOT/SourceCodePro-It.eot') format('embedded-opentype'),
         url('WOFF2/TTF/SourceCodePro-It.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceCodePro-It.otf.woff') format('woff'),
         url('OTF/SourceCodePro-It.otf') format('opentype'),
         url('TTF/SourceCodePro-It.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('EOT/SourceCodePro-Bold.eot') format('embedded-opentype'),
         url('WOFF2/TTF/SourceCodePro-Bold.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceCodePro-Bold.otf.woff') format('woff'),
         url('OTF/SourceCodePro-Bold.otf') format('opentype'),
         url('TTF/SourceCodePro-Bold.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url('EOT/SourceCodePro-BoldIt.eot') format('embedded-opentype'),
         url('WOFF2/TTF/SourceCodePro-BoldIt.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceCodePro-BoldIt.otf.woff') format('woff'),
         url('OTF/SourceCodePro-BoldIt.otf') format('opentype'),
         url('TTF/SourceCodePro-BoldIt.ttf') format('truetype');
}


body {	margin: 1em auto;
	max-width: 65em;
	max-width: 76ch;
	padding-bottom: 12em;
	line-height: 1.4;
	font-size: 16px;
	font-family: "Source Serif Pro", Georgia, serif;
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern" 1, "caps" 1, "liga" 1, "tnum" 1; }
code {	font-family: "Source Code Pro", Courier, monospace;
	line-height: 1.4;
	font-size: 96%; }
table {		margin-top: 0em;
		margin-bottom: 0em; }
td {		vertical-align: top; }
ul, ol, dl {	margin-top: 0em;
		margin-bottom: 0em; }
li, dt {	margin-top: 1em; }

a {		border-bottom: thin dotted #808080;
		color: inherit;
		font: inherit;
		text-decoration: inherit; }
* {		clear: both }

/* Search form and search results. */

fieldset {	border: thin solid silver;
		border-radius: 1em;
		text-align: center; }
input[name=expr] {
		width: 25%; }

table.results {	margin-top: 1em;
		margin-left: 2em;
		font-size: smaller; }

/* Header and footer lines. */

table.head {	width: 100%;
		border-bottom: 1px solid #808080;
		margin-bottom: 4em;
		font-size: smaller; }
td.head-vol {	text-align: center; }
td.head-rtitle {
		text-align: right; }
span.Nd { }
div.Nd {	display: inline; }

table.foot {	width: 100%;
		border-top: 1px solid #808080;
		margin-top: 4em;
		font-size: smaller; }
td.foot-os {	text-align: right; }

/* Sections and paragraphs. */

div.manual-text {
		margin-left: 5ex; }
h1 {		margin-top: 5ex;
		margin-bottom: 1ex;
		margin-left: -4ex;
		font-size: 110%; }
h2 {		margin-top: 3ex;
		margin-bottom: 1ex;
		margin-left: -2ex;
		font-size: 105%; }
div.Pp {	margin: 1ex 0ex; }
div.spacer {	margin: 1ex 0ex; }
a.Sx { }
a.Xr { }

/* Displays and lists. */

div.Bd { }
div.D1 {	margin-left: 5ex; }

ul.Bl-bullet {	list-style-type: disc;
		padding-left: 1em; }
li.It-bullet { }
ul.Bl-dash {	list-style-type: none;
		padding-left: 0em; }
li.It-dash:before {
		content: "\2014  "; }
ul.Bl-item {	list-style-type: none;
		padding-left: 0em; }
li.It-item { }
ul.Bl-compact > li {
		margin-top: 0ex; }

ol.Bl-enum {	padding-left: 2em; }
li.It-enum { }
ol.Bl-compact > li {
		margin-top: 0ex; }

dl.Bl-diag { }
dt.It-diag { }
dd.It-diag {	margin-left: 0ex; }
b.It-diag {	font-style: normal; }
dl.Bl-hang { }
dt.It-hang { }
dd.It-hang {	margin-left: 10.2ex; }
dl.Bl-inset { }
dt.It-inset { }
dd.It-inset {	margin-left: 0ex; }
dl.Bl-ohang { }
dt.It-ohang { }
dd.It-ohang {	margin-left: 0ex; }
dl.Bl-tag {	margin-left: 2.5em; }
dt.It-tag {	float: left;
		margin-top: 0ex;
		margin-left: -10.2ex;
		padding-right: 2ex;
		vertical-align: top; }
dd.It-tag {	clear: right;
		width: 100%;
		margin-top: 0ex;
		margin-left: 0ex;
		vertical-align: top;
		overflow: auto; }
dl.Bl-compact > dt {
		margin-top: 0ex; }

table.Bl-column { }
tr.It-column { }
td.It-column {	margin-top: 1em; }
table.Bl-compact > tbody > tr > td {
		margin-top: 0ex; }

cite.Rs {	font-style: normal;
		font-weight: normal; }
span.RsA { }
i.RsB {		font-weight: normal; }
span.RsC { }
span.RsD { }
i.RsI {		font-weight: normal; }
i.RsJ {		font-weight: normal; }
span.RsN { }
span.RsO { }
span.RsP { }
span.RsQ { }
span.RsR { }
span.RsT {	text-decoration: underline; }
a.RsU { }
span.RsV { }

span.eqn { }
table.tbl { }

/* Semantic markup for command line utilities. */

table.Nm { }
b.Nm {		font-style: normal; }
b.Fl {		font-style: normal; }
b.Cm {		font-style: normal; }
var.Ar {	font-style: italic;
		font-weight: normal; }
span.Op { }
b.Ic {		font-style: normal; }
code.Ev {	font-style: normal;
		font-weight: normal;
		font-family: "Source Code Pro", Courier, monospace;
		line-height: 1.4;
		font-size: 96%; }
i.Pa {		font-weight: normal; }

/* Semantic markup for function libraries. */

span.Lb { }
b.In {		font-style: normal; }
a.In { 		font-style: normal;
		border-bottom: 0; }
b.Fd {		font-style: normal; }
var.Ft {	font-style: italic;
		font-weight: normal; }
b.Fn {		font-style: normal; }
var.Fa {	font-style: italic;
		font-weight: normal; }
var.Vt {	font-style: italic;
		font-weight: normal; }
var.Va {	font-style: italic;
		font-weight: normal; }
code.Dv {	font-style: normal;
		font-weight: normal;
		font-family: "Source Code Pro", Courier, monospace;
		line-height: 1.4;
		font-size: 96%; }
code.Er {	font-style: normal;
		font-weight: normal;
		font-family: "Source Code Pro", Courier, monospace;
		line-height: 1.4;
		font-size: 96%; }

/* Various semantic markup. */

span.An { }
a.Lk { }
a.Mt { }
b.Cd {		font-style: normal; }
i.Ad {		font-weight: normal; }
b.Ms {		font-style: normal; }
span.St { }
a.Ux { }

/* Physical markup. */

.No {		font-style: normal;
		font-weight: normal; }
.none {		font-style: normal;
		font-weight: normal; }
.Em {		font-style: italic;
		font-weight: normal; }
.emph {		font-style: italic;
		font-weight: normal; }
.Sy {		font-style: normal;
		font-weight: bold; }
.symb {		font-style: normal;
		font-weight: bold; }
pre {		margin-left: 1.5em;
		font-style: normal;
		font-weight: normal;
		font-family: "Source Code Pro", Courier, monospace;
		line-height: 1.5;
		font-size: 80%; }
.Li {		margin-left: 1.5em;
		font-style: normal;
		font-weight: normal;
		font-family: "Source Code Pro", Courier, monospace;
		line-height: 1.5;
		font-size: 80%; }
.lit {		font-style: normal;
		font-weight: normal;
		font-family: "Source Code Pro", Courier, monospace;
		line-height: 1.5;
		font-size: 80%; }
